*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    background-color: lightgoldenrodyellow;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 1.25rem;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5625rem;
}

/**
nos damos cuenta que estamos frente a una pseudoclase
cuando vemos que un selector esta acompañado por :

        selector:hover


Las pseudoclases se pueden aplicar a casi todos los elementos. 

*/

/*hover muestra sus estilos cuando el cursor esta por encima*/
nav ul li a:hover{
    color: blue;
    text-decoration: underline;
}

/**
    :nth-child() => me permite selecciona un hijo dentro de un contenedor.
    :first-child
    :last-child
*/

.galeria{
    display: grid;
    grid-template-columns: repeat(3,25%);
    grid-template-rows: repeat(4,200px);
    gap: .625rem;
    justify-content: center;
}
.galeria img{
    width: 100%;
    height: 100%;
}

.galeria img:first-child{
    grid-column: 1/3;
    grid-row: 1/3;
}
.galeria img:nth-child(2){
    grid-column: 3/4;
    grid-row: 1/3;
}
.galeria img:nth-child(3){
    grid-column: 2/4;
    grid-row: 3/5;
}

.galeria img:nth-child(2):hover{
    filter:grayscale(2)
}
.galeria img:last-child{
    grid-column: 1/2;
    grid-row: 3/5;
}


.flex div:nth-child(1){
    display: flex;
    background-color: lightcoral;
}
form{
    background-color: lightblue;
    margin-top: 1.25rem;
    padding: 20px;
    width: 50%;
}
form input{
    all: unset;
    padding-top: 20px; ;
    border-bottom: 2px solid black;
}

form input:focus{
    background-color: lightcoral;
    text-decoration: underline;
}

form input::placeholder{
    font-family: monospace;
    text-align: center;
    
}
/*
 :active va a funcionar con un elemento
 que esta siendo activado por el usuario
*/

button{
    padding: 20px;
}

button:hover{
    background-color: lightgray;
}

button:active{
    background-color: lightblue;
}

/*
:visited => selecciona los elementos
que ya fueron visitados
*/

nav ul li a:visited{
    color: rgb(153, 255, 0);
}

/*
pseudoelementos: permite aplicar estilos a una 
parte especifica de un elemento.
 selector::pseudolemento 

*/

h1:hover::before{
    display: block;
    content: "goat ";
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
}

h1:hover::after{
    content: " campeon del mundo";

}

.texto p::first-letter{
    font-size: 40px;
    font-family: monospace;
}

.texto p::first-line{
    background-color: lightblue;
}

.texto p::selection{
    background-color: black;
    color: white;}

/*
BEM 
    bloque => la etiqueta padre
    elemento => vendria a ser el hijo
    modificador => vendria a ser una modificacion distinta al resto de los hijos
*/